.App {
  text-align: center;
}

h2{
  color: rgb(144, 144, 144);
}

h1{
 font-size: 36px;
}

button{
  width: 70px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.minus {
  background-color: rgb(240 66 84);
  border-color: rgb(242 116 129);
  margin-right: 20px;
}

.plus {
  background-color: rgb(0 189 135);
  border-color: rgb(44 202 155);
}